body {
  margin: 0;
  padding: 0;
  background-color: #2d373b;
  color: white;
}

.navbar {
  background-color: #263238;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  width: 100%;
}

.navbar a {
  float: right;
  font-size: 26px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.pose-container {
  max-width: 800px;
  margin: 70px auto 20px; /* Adjust the top margin (120px) to shift it down */
  padding: 20px;
  text-align: center;
}

h2 {
  color: #64b5f6;
  font-size: 40px;
  margin: 20px 0;
}

p {
  font-size: 18px;
}

span {
  display: flex;
  justify-content: center;
  gap: 30px;
}
/* Style the Start Exercise and End Exercise buttons */
form {
  margin-top: 20px;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 190px;
  margin-top: 70px;
}

input[type="submit"] {
  background-color: #1e88e5; /* Orange button background color */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

p {
  font-size: 26px;
}

h3 {
  font-size: 25px;
}

input[type="submit"]:hover {
  background-color: #00569c; /* Darker orange on hover */
}

img {
  width: 50%;
  height: 50%;
}
